include ./mixin

- width = width || 300
- showDate = showDate || false
- showShare = showShare || false
- balanceText = balanceText || false

+article-figure(article, width, showDate, showShare, balanceText)
